<body>

    <!-- Header -->
    <a href="http://127.0.0.1:5000" style="text-decoration: none;"><h1>IMDB</h1></a>
    <a href="http://127.0.0.1:5000" style="text-decoration: none;"><h2>TOP 1000</h2></a>
  
    <!-- Menu Tabs -->
    <nav>
      <ul id="main">
        <li onclick="window.location.href='http://127.0.0.1:5000/'">Home</li>
        <!-- For DROPDOWN MENU 
          <li>Browse by Category
          <ul class="drop">
            <div>
              <li onclick="window.location.href='http://127.0.0.1:5000/category-by-year'">by Year</li>
              <li onclick="window.location.href='http://127.0.0.1:5000/category-by-genre'">by Genre</li>
            </div>
          </ul>
        </li> -->
        <!-- <li onclick="window.location.href='http://127.0.0.1:5000/random-film'">Random Film</li>
        <li onclick="window.location.href='http://127.0.0.1:5000/directory'">Directory</li>
        <li onclick="window.location.href='http://127.0.0.1:5000/about'">About</li> -->
  
      </ul>
    </nav>
  </body>
  
  <form action="directory" method="get">
    <!-- Directory Search -->
    <!-- #gender_d, edlevel_d, mainbranch_d, yearscode, computerskills,haveworkedwith,country -->
    <input type="text" name="gender" placeholder="gender" value="{{ params['gender'] }}" size="14">
    <input type="text" name="edlevel" placeholder="edlevel" value="{{ params['edlevel'] }}" size="14">
    <input type="text" name="mainbranch" placeholder="mainbranch" value="{{ params['mainbranch'] }}" size="14">
    <input type="text" name="yearscode" placeholder="yearscode" value="{{ params['yearscode'] }}" size="14">
    <input type="text" name="computerskills" placeholder="computerskills" value="{{ params['computerskills'] }}" size="14">
    <input type="text" name="haveworkedwith" placeholder="haveworkedwith" value="{{ params['haveworkedwith'] }}" size="14">
    <input type="text" name="country" placeholder="country" value="{{ params['country'] }}" size="14">

    <button type="submit">Search</button>
  </form>
  
<!--   
    {% if result_count > 0 %}
    <h6 class="custom-heading">{{ result_count }} FILMS</h6>
    {% endif %}
   -->
    

    {% if theme %}
    <div class="table_container">
      <table class="boostrap4_table_head_dark_hoverable">
        <thead>
      <!-- #gender_d, edlevel_d, mainbranch_d, yearscode, computerskills,haveworkedwith,country -->

            <th> 
              <a href="/directory?gender={{ params['gender'] }}&edlevel={{ params['edlevel'] }}&mainbranch={{ params['mainbranch'] }}&yearscode={{ params['yearscode'] }}&computerskills={{ params['computerskills'] }}&haveworkedwith={{ params['haveworkedwith'] }}&country={{ params['country'] }}&sort_by=gender&sort_dir={{ get_sort_dir('gender') }}" style="text-decoration: none; color: inherit;">Gender</a>
                  {% if params['sort_by'] == 'gender' %}
                      {% if params['sort_dir'] == 'asc' %}
                          <span>&#8593;</span>
                      {% else %}
                          <span>&#8595;</span>
                      {% endif %}
                  {% endif %}
            </th>
  
            <th>                    
                <a href="/directory?gender={{ params['gender'] }}&edlevel={{ params['edlevel'] }}&mainbranch={{ params['mainbranch'] }}&yearscode={{ params['yearscode'] }}&computerskills={{ params['computerskills'] }}&haveworkedwith={{ params['haveworkedwith'] }}&country={{ params['country'] }}&sort_by=edlevel&sort_dir={{ get_sort_dir('edlevel') }}" style="text-decoration: none; color: inherit;">Education Level</a>
                {% if params['sort_by'] == 'edlevel' %}
                    {% if params['sort_dir'] == 'asc' %}
                        <span>&#8593;</span>
                    {% else %}
                        <span>&#8595;</span>
                    {% endif %}
                {% endif %}
            </th>
  
            <th>
                <a href="/directory?gender={{ params['gender'] }}&edlevel={{ params['edlevel'] }}&mainbranch={{ params['mainbranch'] }}&yearscode={{ params['yearscode'] }}&computerskills={{ params['computerskills'] }}&haveworkedwith={{ params['haveworkedwith'] }}&country={{ params['country'] }}&sort_by=mainbranch&sort_dir={{ get_sort_dir('mainbranch') }}" style="text-decoration: none; color: inherit;">Main Branch</a>
                {% if params['sort_by'] == 'mainbranch' %}
                    {% if params['sort_dir'] == 'asc' %}
                        <span>&#8593;</span>
                    {% else %}
                        <span>&#8595;</span>
                    {% endif %}
                {% endif %}
            </th>
            
            <th>
                <a href="/directory?gender={{ params['gender'] }}&edlevel={{ params['edlevel'] }}&mainbranch={{ params['mainbranch'] }}&yearscode={{ params['yearscode'] }}&computerskills={{ params['computerskills'] }}&haveworkedwith={{ params['haveworkedwith'] }}&country={{ params['country'] }}&sort_by=yearscode&sort_dir={{ get_sort_dir('yearscode') }}" style="text-decoration: none; color: inherit;">Years Coded</a>
                {% if params['sort_by'] == 'yearscode' %}
                    {% if params['sort_dir'] == 'asc' %}
                        <span>&#8593;</span>
                    {% else %}
                        <span>&#8595;</span>
                    {% endif %}
                {% endif %}
            </th>
  
            <th>
              Genre
            </th>
  
            <th>
                <a href="/directory?gender={{ params['gender'] }}&edlevel={{ params['edlevel'] }}&mainbranch={{ params['mainbranch'] }}&yearscode={{ params['yearscode'] }}&computerskills={{ params['computerskills'] }}&haveworkedwith={{ params['haveworkedwith'] }}&country={{ params['country'] }}&sort_by=computerskills&sort_dir={{ get_sort_dir('computerskills') }}" style="text-decoration: none; color: inherit;">Skills</a>
                {% if params['sort_by'] == 'computerskills' %}
                    {% if params['sort_dir'] == 'asc' %}
                        <span>&#8593;</span>
                    {% else %}
                        <span>&#8595;</span>
                    {% endif %}
                {% endif %}
            </th>
            <th>
                <a href="/directory?gender={{ params['gender'] }}&edlevel={{ params['edlevel'] }}&mainbranch={{ params['mainbranch'] }}&yearscode={{ params['yearscode'] }}&computerskills={{ params['computerskills'] }}&haveworkedwith={{ params['haveworkedwith'] }}&country={{ params['country'] }}&sort_by=haveworkedwith&sort_dir={{ get_sort_dir('haveworkedwith') }}" style="text-decoration: none; color: inherit;">No. of Skills</a>
                {% if params['sort_by'] == 'haveworkedwith' %}
                    {% if params['sort_dir'] == 'asc' %}
                        <span>&#8593;</span>
                    {% else %}
                        <span>&#8595;</span>
                    {% endif %}
                {% endif %}
            </th>

            <th>
                <a href="/directory?gender={{ params['gender'] }}&edlevel={{ params['edlevel'] }}&mainbranch={{ params['mainbranch'] }}&yearscode={{ params['yearscode'] }}&computerskills={{ params['computerskills'] }}&haveworkedwith={{ params['haveworkedwith'] }}&country={{ params['country'] }}&sort_by=country&sort_dir={{ get_sort_dir('country') }}" style="text-decoration: none; color: inherit;">Country</a>
                {% if params['sort_by'] == 'country' %}
                    {% if params['sort_dir'] == 'asc' %}
                        <span>&#8593;</span>
                    {% else %}
                        <span>&#8595;</span>
                    {% endif %}
                {% endif %}
            </th>

            
        </thead>
  
    <!-- #gender_d, edlevel_d, mainbranch_d, yearscode, computerskills,haveworkedwith,country -->

        <tbody>
          {% for theme in theme %}
            <tr>
              <td>{{ theme.gender }}</td>
              <td>{{ theme.edlevel }}</td>
              <td>{{ theme.mainbranch }}</td>
              <td>{{ theme.yearscode }}</td>
              <td>{{ theme.computerskills }}</td>
              <td>{{ theme.haveworkedwith }}</td>
              <td>{{ theme.country }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
  </div>
  
  {% else %}
          <div style="text-align: center;">
          <h6 class="custom-heading">NO RESULTS</h6>
    
      {% endif %}
  
  </body>