<body>

    <!-- Header -->
    <a href="http://127.0.0.1:5000" style="text-decoration: none;"><h1>Gender Inequality</h1></a>
  
    <!-- Menu Tabs -->
    <nav>
      <ul id="main">
        <li onclick="window.location.href='http://127.0.0.1:5000/'">Home</li>
        <li onclick="window.location.href='http://127.0.0.1:5000/about'">About</li>
  
      </ul>
    </nav>
  </body>
  
  <form action="/" method="get">
   
    <!-- Directory Search -->
    <!-- #gender_d, edlevel_d, mainbranch_d, yearscode, computerskills,haveworkedwith,country -->
    <input type="text" name="gender" placeholder="Search Gender" value="{{ params1['gender'] }}" size="17">
    <input type="text" name="edlevel" placeholder="Search Education Level" value="{{ params1['edlevel'] }}" size="17">
    <input type="text" name="mainbranch" placeholder="Search Main Branch" value="{{ params1['mainbranch'] }}" size="17">
    <input type="text" name="yearscode" placeholder="Search Years of Coding" value="{{ params1['yearscode'] }}" size="17">
    <input type="text" name="computerskills" placeholder="Search No of Skills" value="{{ params1['computerskills'] }}" size="17">
    <input type="text" name="haveworkedwith" placeholder="Search Skills" value="{{ params1['haveworkedwith'] }}" size="17">
    <input type="text" name="country" placeholder="Search Country" value="{{ params1['country'] }}" size="17">

    <button type="submit">Search</button>
  </form>
  
  
    {% if result_count > 0 %}
    <h6 class="custom-heading">{{ result_count }} RESULTS</h6>
    {% endif %}
  
    <!-- {% if theme %} -->
    {% if not summary %}
    <div class="table_container">
      <table class="boostrap4_table_head_dark_hoverable">
        <thead>

            <th> 
              <a href="/?gender={{ params1['gender'] }}&edlevel={{ params1['edlevel'] }}&mainbranch={{ params1['mainbranch'] }}&yearscode={{ params1['yearscode'] }}&computerskills={{ params1['computerskills'] }}&haveworkedwith={{ params1['haveworkedwith'] }}&country={{ params1['country'] }}&sort_by=gender&sort_dir={{ get_sort_dir('gender') }}" style="text-decoration: none; color: inherit;">Gender</a>
                  {% if params1['sort_by'] == 'gender' %}
                      {% if params1['sort_dir'] == 'asc' %}
                          <span>&#8593;</span>
                      {% else %}
                          <span>&#8595;</span>
                      {% endif %}
                  {% endif %}
            </th>
  
            <th>                    
                <a href="/?gender={{ params1['gender'] }}&edlevel={{ params1['edlevel'] }}&mainbranch={{ params1['mainbranch'] }}&yearscode={{ params1['yearscode'] }}&computerskills={{ params1['computerskills'] }}&haveworkedwith={{ params1['haveworkedwith'] }}&country={{ params1['country'] }}&sort_by=edlevel&sort_dir={{ get_sort_dir('edlevel') }}" style="text-decoration: none; color: inherit;">Education Level</a>
                {% if params1['sort_by'] == 'edlevel' %}
                    {% if params1['sort_dir'] == 'asc' %}
                        <span>&#8593;</span>
                    {% else %}
                        <span>&#8595;</span>
                    {% endif %}
                {% endif %}
            </th>
  
            <th>
                <a href="/?gender={{ params1['gender'] }}&edlevel={{ params1['edlevel'] }}&mainbranch={{ params1['mainbranch'] }}&yearscode={{ params1['yearscode'] }}&computerskills={{ params1['computerskills'] }}&haveworkedwith={{ params1['haveworkedwith'] }}&country={{ params1['country'] }}&sort_by=mainbranch&sort_dir={{ get_sort_dir('mainbranch') }}" style="text-decoration: none; color: inherit;">Main Branch</a>
                {% if params1['sort_by'] == 'mainbranch' %}
                    {% if params1['sort_dir'] == 'asc' %}
                        <span>&#8593;</span>
                    {% else %}
                        <span>&#8595;</span>
                    {% endif %}
                {% endif %}
            </th>
            
            <th>
                <a href="/?gender={{ params1['gender'] }}&edlevel={{ params1['edlevel'] }}&mainbranch={{ params1['mainbranch'] }}&yearscode={{ params1['yearscode'] }}&computerskills={{ params1['computerskills'] }}&haveworkedwith={{ params1['haveworkedwith'] }}&country={{ params1['country'] }}&sort_by=yearscode&sort_dir={{ get_sort_dir('yearscode') }}" style="text-decoration: none; color: inherit;">Years Coded</a>
                {% if params1['sort_by'] == 'yearscode' %}
                    {% if params1['sort_dir'] == 'asc' %}
                        <span>&#8593;</span>
                    {% else %}
                        <span>&#8595;</span>
                    {% endif %}
                {% endif %}
            </th>
  
            <th>
              Genre
            </th>
  
            <th>
                <a href="/?gender={{ params1['gender'] }}&edlevel={{ params1['edlevel'] }}&mainbranch={{ params1['mainbranch'] }}&yearscode={{ params1['yearscode'] }}&computerskills={{ params1['computerskills'] }}&haveworkedwith={{ params1['haveworkedwith'] }}&country={{ params1['country'] }}&sort_by=computerskills&sort_dir={{ get_sort_dir('computerskills') }}" style="text-decoration: none; color: inherit;">Skills</a>
                {% if params1['sort_by'] == 'computerskills' %}
                    {% if params1['sort_dir'] == 'asc' %}
                        <span>&#8593;</span>
                    {% else %}
                        <span>&#8595;</span>
                    {% endif %}
                {% endif %}
            </th>
            <th>
                <a href="/?gender={{ params1['gender'] }}&edlevel={{ params1['edlevel'] }}&mainbranch={{ params1['mainbranch'] }}&yearscode={{ params1['yearscode'] }}&computerskills={{ params1['computerskills'] }}&haveworkedwith={{ params1['haveworkedwith'] }}&country={{ params1['country'] }}&sort_by=haveworkedwith&sort_dir={{ get_sort_dir('haveworkedwith') }}" style="text-decoration: none; color: inherit;">No. of Skills</a>
                {% if params1['sort_by'] == 'haveworkedwith' %}
                    {% if params1['sort_dir'] == 'asc' %}
                        <span>&#8593;</span>
                    {% else %}
                        <span>&#8595;</span>
                    {% endif %}
                {% endif %}
            </th>

            <th>
                <a href="/home?gender={{ params1['gender'] }}&edlevel={{ params1['edlevel'] }}&mainbranch={{ params1['mainbranch'] }}&yearscode={{ params1['yearscode'] }}&computerskills={{ params1['computerskills'] }}&haveworkedwith={{ params1['haveworkedwith'] }}&country={{ params1['country'] }}&sort_by=country&sort_dir={{ get_sort_dir('country') }}" style="text-decoration: none; color: inherit;">Country</a>
                {% if params1['sort_by'] == 'country' %}
                    {% if params1['sort_dir'] == 'asc' %}
                        <span>&#8593;</span>
                    {% else %}
                        <span>&#8595;</span>
                    {% endif %}
                {% endif %}
            </th>
            {% else %}
                <div style="text-align: center;">
                <h6 class="custom-heading">NO RESULTS</h6>
            {% endif %}

            
        </thead>
  
    <!-- #gender_d, edlevel_d, mainbranch_d, yearscode, computerskills,haveworkedwith,country -->

        <tbody>
          {% for item in theme %}
            <tr>
              <td>{{ item.gender }}</td>
              <td>{{ item.edlevel }}</td>
              <td>{{ item.mainbranch }}</td>
              <td>{{ item.yearscode }}</td>
              <td>{{ item.computerskills }}</td>
              <td>{{ item.haveworkedwith }}</td>
              <td>{{ item.country }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
  </div>
  
  {% else %}
  <div style="text-align: center;">
  <h1>No results :(</h1>
  </div>
  {% endif %}
  
  </body>

  